.image-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
  }
  .carousel-image {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  
  button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }